{% load static %}
<html>
    <head>
        <title>Adventure Game</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">  
    </head>
    <body>
        <div class = "header">
    	Choose Your Adventure
		</div>
<div class = "q_text">
<br><br><br>
<h2>Thank you!!!!</h2>
</div>
<h4>
	<br><br>
	I promise you won't regret this. You've made me the happiest man on Earth.<br>
	Dallin
</h4>
<br><br><br><br><br><br><br><br><br><br><br><br><br><a href = "/">Play again</a>
    </body>
</html>